:root {
  --tiffany-blue: #75c2b9;
  --ash-grey: #cad3cf;
  --paynes-grey: #4d5669;
  --delft-blue: #35356b;
  --asparagus: #789564;
  --white: #ffffff;
  --black: #000000;

  --radius000: 0px;
  --radius100: 0.125rem;
  --radius200: 0.25rem;
  --radius300: 0.375rem;
  --radius400: 0.5rem;
  --radius500: 0.75rem;
  --radius600: 1rem;

  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.skip-link {
  position: absolute;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--paynes-grey);
  color: var(--white);
}

.skip-link:not(:focus) {
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

main:focus {
  outline: none;
}

.page-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--white);
  background-color: var(--delft-blue);
  border-bottom: 1px solid var(--asparagus);

  .page-header__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.page-main {
  flex: 1;
}

.page-main__content {
  margin: 1rem;
}

@media (prefers-color-scheme: dark) {
  .page-main {
    color: var(--white);
    background-color: var(--black);
  }
}

.page-nav {
  display: flex;
  gap: 1rem;
  background-color: var(--paynes-grey);
}

.page-nav__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.page-nav__item {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
}

.page-nav__item:hover {
  background-color: var(--ash-grey);
  color: var(--black);
  border-radius: var(--radius200);
}

.page-nav__item--active {
  background-color: var(--tiffany-blue);
  color: var(--black);
  border-radius: var(--radius200);
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--white);
  background-color: var(--delft-blue);
  border-top: 1px solid var(--asparagus);
  max-height: 1rem;
}
